<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        {% load trip_journal_extras %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
        <link rel="stylesheet" href="{% static "css/base.css"%}">
        <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
        <link href='../static/font-awesome/css/font-awesome.css' rel='stylesheet'>{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="header">
            <div class="main_head">
            {% block header %}
            <div id='site_name'>
                <p><a href={% url 'home' %}>Trip Journal</a></p>
            </div>
            {% if user and not user.is_anonymous %}
                
                <div class="login-text">
                    <a href="{% url 'user_stories' %}">MY STORIES</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'auth:logout' %}?next={% url 'home' %}">LOG OUT {{ user.username }}</a>
                </div>
            {% else %}
                <div class="login-text">
                    LOG IN: 
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request|login_next }}">&nbsp;&nbsp;
                        <i class="fa fa-google-plus"></i>
                    </a>&nbsp;&nbsp;
                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request|login_next }}">
                        <i class="fa fa-facebook"></i>&nbsp;&nbsp;
                    </a>
                    <a href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request|login_next }}">
                        <i class="fa fa-vk"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="#">SIGN UP</a>
                </div>
            {% endif %}
            {% endblock %}
            </div>
        </div>
        <div class="left_menu">
            {% block menu %}
            <ul class="menu_btns">
                <li><a href="{% url 'stories_near_by' %}">STORIES</a></li>
                <li><a href="{% url 'pictures_near_by' %}">PICTURES</a></li>
            </ul>
            {% endblock %}
        </div>
        <div id="messages">
            {% block messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }} {% endif %}">
                {{ message }}
            </div>
            {% endfor %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>  
    </body>
</html>
