body {
  margin: 0;
  padding: 0;                      
  font-family: "Asap", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #9F9F9F;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%; 
  cursor:default;
  background:#FFF;
  overflow:hidden;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Asap', sans-serif; 
  color:#566363;
  line-height:1.4em;    
  margin:0px;
  padding: 10px 0px 10px 0px;
  font-weight:500;

}

h2, h2 a {
  font-size:22px;
  color:#858585;
  text-decoration:underline;
  padding: 10px 0px 20px 0px;
}

hr {
  border:0px solid;
  border-top:1px #CCCCCC solid;
  margin:0px;
}

a {
  color: #858585;
  
  -webkit-transition: all 0.2s ease-in; 
     -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
       -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
           
}

a:hover, a:focus {
  text-decoration:none;
}

p {
  font-family: "Asap", sans-serif;
  padding:0px 0px 15px 0px;
  margin:0px;
}

#header {
    width: 100%;
    height: 100px;
    font-family: 'Asap', sans-serif;
    overflow: none;
}

.main_head {
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

#site_name {
    display: inline-block;
    margin: 30px 0px 0px 0px;
    border: #9f9f9f solid 2px;
}
#site_name p {
    padding: 4px;
}
#site_name a {
    text-decoration: none;
    color: #9f9f9f;
    font-weight: 500;
    font-size: 1.25em;
}
#site_name:hover {
    background-color: #9f9f9f;
}
#site_name:hover a {
    color: #fff;
}

.login-text {
    display:inline-block;
    vertical-align:middle;
    color: #9f9f9f;
    float: right;
    margin: 40px 0px 0px 0px;
    font-size:0.813em;
}
.login-text a {
    text-decoration: none;
    color: #9f9f9f;
    transition: 0.5s;
}
.login-text a:hover {
    color: #0088cc;
}
.left_menu {
    display: block;
    position: relative;
    width: 80%;
    height: 64px;
    margin: 0 auto;
    position:relative;
    text-transform: uppercase;
    border-bottom: 1px #CDCDCD solid;
    font-family: "Asap";
    font-size:13px;
    margin-top: 49px;
}

.menu_btns{
    width: 250px;
    height:50px;
    float: right;
    border-right: 1px #CDCDCD solid;
}
ul.menu {
    position:relative;
    display:inline-block;
}
ul.menu_btns li {
    display:block;
    white-space:nowrap;
    float: left;
    list-style-type: none;
    overflow: hidden;
    width: 50%;
    text-align: center;
}
.menu_btns > li > a {
    display:inline-block;
    text-decoration: none;
    height:20px;
    color: #9F9F9F;
    text-shadow: none;
    padding:15px 38px 15px 38px;
    border-top: 1px #CDCDCD solid;
    border-bottom: 0px #CDCDCD solid;
    border-left: 1px #CDCDCD solid;
}

.menu_btns > li > a:focus, .menu_btns > li > a.active, .menu_btns > li > a:hover{
    background-color: #44a0d7;
    position:relative;
    color:#262626;
    height:20px;
    text-shadow: none;
    border-top: 1px #CDCDCD solid;
    border-bottom: 0px #CDCDCD solid;
    border-left: 1px #CDCDCD solid;
    background-color:#FAFAFA;  
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}
.menu_btns  > li:last-child > a{
    border-right: 1px #CDCDCD solid;
}
.menu_btns  > li.active:last-child > a, .menu_btns  > li.active:last-child:hover > a{
    border-right: 1px #CDCDCD solid;
}
.menu_btns  > li:hover:last-child > a {
    border-right: 1px #262626 solid; 
}
.menu_btns  > li:hover > a {
    color:#9f9f9f;
    text-decoration: none;
    background-color: #262626;
    border-left: 1px #262626 solid;
    border-bottom: 0px #CDCDCD solid;
    border-top: 1px #262626 solid; 
}

#login_button {
    margin-top: 13px;
    margin-right: 50px;
    float: right;
}

.info {
    position: relative;
    top: 50px;
    color: #31797d;
    border: solid #FFEA99;
    padding: 5px 5px 5px 35px;
    background: #FFEA99 url('../images/info.svg') no-repeat 5px 2px;
    background-size: 23px 23px;
}

#content {
    width: 100%;
    background: url('../img/1200-500-9.jpg') no-repeat top center;
}
